@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan:wght@200;400&display=swap');


body {
  background-color: #b7b7a4;
  font-family: 'Spartan', sans-serif;
}

.App-header {
  text-align: center;
  margin-top: 2%;
}

.ghibliImg {
  width: 30%;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 5px rgb(187, 178, 178);
}

